<!-- <div ng-repeat="category in categories">
  <a href="#/users/categories/{{username}}/{{categoryName}}"><p>{{category.estimate}}</p></a>
</div>
<button ng-click="createCategory(index)">New Category</button>
<div ng-show="newbudget">
  Category: <input type="text" ng-model="category">
  Estimate: <input type="text" ng-model="estimate">
 <button ng-click="addCategory()">Add</button>
</div>
<a href="#/"><button>Home</button></a>
<a href="#/users/preference"><button>BACK</button></a>
 -->
<div class="row container-fluid">
  <div class="col-md-4">
    <ul class="side-nav fixed" style="width: 350px;">
      <li class="logo">
        <a href="" id="logo-container" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml"></object>
        </a>
      </li>
      <div class="collection" ng-repeat="category in categories">
        <a href="#/users/categories/{{username}}/{{categoryName}}" class="collection-item">{{category.estimate}}</a>
      </div>
      <button ng-click="createCategory(index)" class="waves-effect waves-light btn">New Category</button>
    </ul>
  </div>
  <div class="row container">
    <div class="col-md-8" ng-show="newbudget">
      Category: <input type="text" ng-model="category">
      Estimate: <input type="text" ng-model="estimate">
      <button ng-click="addCategory()" class="waves-effect waves-light btn">Add</button>
    </div>
  </div> 
</div>