<div class="container-fluid">

  <div class="col-md-4">
    <div class="row" >
      <div class="col-md-8 bg-success text-center">
        <span><h5>List of Notes</h5></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" id="categoryList">
        <ul class="collection" ng-repeat="note in retrievedNotes">
          <a class="collection-item" ng-click="viewNote($index)">{{note.title}}</a>
          <span class="badge" style="background-color:red;" ng-click="deleteNote($index)">
            <i class="mdi-content-clear"></i>
          </span>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button ng-click="showNoteArea()" class="waves-effect waves-light btn">New Note</button><br>
        <a href="#/"><button class="waves-effect waves-light btn">Home</button></a>
        <a href="#/users/preference"><button class="waves-effect waves-light btn">BACK</button></a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="jumbotron" ng-show="noNote">Notes</div>
    <div class="input-field" ng-show="newNoteField">
      <input type="text" placeholder="Title" ng-model="newTitle">
      <textarea id="textarea1" class="materialize-textarea" ng-model="newNote" placeholder="Type your note here"></textarea>
      <button class="waves-effect waves-light btn" ng-click="createNote()">Add New Note</button>
    </div>
    <div class="input-field" ng-show="existingNoteField" ng-mouseleave="updateNote(); Materialize.toast('I am a toast!', 3000, 'rounded')">
      <input type="text" placeholder="Title" ng-model="existingTitle" ng-readonly="readonly">
      <textarea id="textarea2" class="materialize-textarea" ng-model="existingNote"placeholder="Your note" ng-readonly="readonly"></textarea>
      <button class="waves-effect waves-light btn" ng-click="editNote()">Edit</button>
      <!-- <button class="waves-effect waves-light btn" ng-click="updateNote()">Done</button> -->
    </div>
  </div>
</div>