<div class="row container-fluid">
  <div class="col-md-12 bg-primary">
    <p class="text-center"><h4>Preference</h4></p><br><br>
  </div>
  <div class="col-md-4">
    <a href="#/users/preference/{{name}}/expenseManager"><button class="waves-effect waves-light btn" ng-click="manager()">Expense Manager</button></a>
  </div>
  <div class="col-md-4">
    <a href="#/users/preference/{{name}}/toDo"><button class="waves-effect waves-light btn" ng-click="toDo()">To Do</button></a>
  </div>
  <div class="col-md-4">
    <a href="#/users/preeference/{{name}}/notes"><button class="waves-effect waves-light btn" ng-click="notes()">Notes</button>
  </div>
</div>