<div class="row container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="jumbotron">
        <span class="text-center" id="welcome"><h4>Welcome {{name}}</h4></span><br><br>
        <span class="text-right"></span>
      </div>
    </div>
    <div class="row container-fluid">

      <div class="col-md-4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="../images/Ruler_Calculator.jpg" class="activator" style="height: 260px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <a href="#/users/preference/{{name}}/expenseManager"><button class="waves-effect waves-light btn" ng-click="manager()">Expense Manager</button>
              </a>
              <i class="mdi-navigation-more-vert right"></i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Expense Manager
              <i class="mdi-navigation-close right"></i>
            </span>
            <p>This is the expense manager that helps you keep track of the amount you spend on different items</p>
            <p>You can create budget categories and then add items to each category</p>
            <p>This app will give you the summary of how much you spend on each category and each item in the category and the difference between the amount you previously specified to spend and the amount you actually spent</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="../images/Great-To-Do-List.jpg" class="activator" style="height: 260px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <a href="#/users/preference/{{name}}/toDo"><button class="waves-effect waves-light btn" ng-click="manager()">To Do list</button>
              </a>
              <i class="mdi-navigation-more-vert right"></i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">To-Do List Maker
              <i class="mdi-navigation-close right"></i>
            </span>
            <p>Here you can make a list of things you don't want to forget to do, you can cross out each item when you have completed the task or un-cross it if you feel its not done yet, you can also delete items from the list</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="../images/notes.jpeg" class="activator" style="height: 260px;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <a href="#/users/preference/{{name}}/notes"><button class="waves-effect waves-light btn" ng-click="manager()">Notes</button>
              </a>
              <i class="mdi-navigation-more-vert right"></i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Notes
              <i class="mdi-navigation-close right"></i>
            </span>
            <p>Put down important things that come to mind so you don't forget them, you cam make notes which you can easily refer to later, you can also edit notes previously written or delete notes</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>