<div class="container-fluid">

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-8" id="todoOptions"> Options
        <ul class="collection">
          <a class="collection-item"><button class="waves-effect waves-light btn"  ng-click="newTodo()">New item</button><br></a>
          <a class="collection-item" href="#/"><button class="waves-effect waves-light btn">Home</button></a>
          <a class="collection-item" href="#/users/preference"><button class="waves-effect waves-light btn">BACK</button></a>
        </ul>
      </div>
    </div>
    <div class="row" ng-show="newToDoField">
      <div class="col-md-8">
        <input type="text" ng-model="toDo" placeholder="To-do Item"/>
        <button class="waves-effect waves-light btn" ng-click="createToDo()">Add</button>
      </div>
    </div>
  </div>

  <div class="col-md-8" id="toDoList">
    <div class="row container-fluid">
      <div class="collection" ng-repeat="todo in toDos">
       <div class="collection-item" item-striker >{{todo.item}}<span class="badge"><i class="mdi-content-clear"></i></span></div>
      </div>
    </div>
  </div>

</div>