body { 
  padding-top: 70px; 
}

#content {
  background-image: url('../images/background_accounting.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: purple;
  padding-bottom: 90px;
  padding-top: 90px;
  color: black;
}
#space {
  background-color: white;
  color: white;
}
#login {
  margin-top: 10px;
}
#inputArea {
  /*background-color: rgba(238, 110, 115, 0.5);*/
  /*border-radius: 10px;*/
  /*height: 515px;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  
  padding: 10px;*/
}
#itemsList {
  overflow: auto;
  max-height: 635px;
}
#todoOptions {
  border-right: 2px solid green;
  margin-top: 100px;
}
a: hover {
  text-decoration: none;
}
#itemList: hover {
  background-color: #ccc;
}
#preference {
  text-align: center;
   margin-top: 10px;
}
#logo-container {
  height: 57px;
  margin-bottom: 32px;
}
#categoryList{
  max-height: 550px;
  overflow: auto;
  border-right: 2px solid green;
}
#toDoList {
  max-height: 650px;
  overflow: auto;
  margin-left: -100px;
}
#prefs {
  background-color: blue;
}
#jumboBox {
  margin-left: -150px;
}

.strikeMe {
  text-decoration: line-through;
}
 #toDoSide {
  /*border: 2px solid green;*/
  margin-top: 100px;
 }
.collection .items.collection-item: hover {
  background-color: #ccc;
}